body {
    font-family: "Bitsream Vera Sans",helvetica,arial,sans-serif;
}

.thread_list {
    margin: 0;
    border: 0;
    padding: 0;
    border-collapse: collapse;
}

.odd {
    background-color: #CCCCCC;
}

.even {
    background-color: #FFFFFF;
}


