{% block head %}
<link rel="stylesheet" href="/media/css/main.css" />
<link rel="stylesheet" href="/media/css/buttons.css" />
<link rel="stylesheet" href="/media/css/crumbs.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/buttons.js"></script>
{% endblock head %}

{% block header %}
<div id="header" style="height: 45px">
    <span style="float: left"><a href="{% url new_thread %}" id="newthread" class="btn blue">Nyr thradur</a></span>
    <span style="float: right"><a href="/accounts/logout/" class="btn green">Utskra {{ user.username }}</a></span>
    Nyskraning
</div>
{% endblock header %}

{% block breadcrumbs %}
<ul id="crumbs">
    <li><a href="/forum/">Forum Name</a></li>
    <li>Current Page</li>
</ul>
{% endblock breadcrumbs %}

{% block content %}

{% endblock content %}

{% block footer %}

{% endblock footer %}
