{% load i18n %}
{% block head %}
<link rel="stylesheet" href="/media/css/main.css" />
<link rel="stylesheet" href="/media/css/buttons.css" />
<link rel="stylesheet" href="/media/css/crumbs.css" />
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog "dsf" %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/buttons.js"></script>
{% endblock head %}

{% block header %}
<div id="header" style="height: 45px; text-align:center">
    <span style="float: left"><a href="{% url new_thread %}" id="newthread" class="btn blue">{% trans "New thread" %}</a></span>
    <span style="float: right"><a href="/accounts/logout/" class="btn green">{% trans "Logout" %} {{ user.username }}</a></span>
    UNI
</div>
{% endblock header %}

{% block breadcrumbs %}
<ul id="crumbs">
    <li><a href="/forum/">{% trans "Index" %}</a></li>
    <li>{% trans "Overview" %}</li>
</ul>
{% endblock breadcrumbs %}

{% block content %}

{% endblock content %}

{% block footer %}
<div id="language_bar">
<br /><br />
{% trans "Select language" %}
<form action="/i18n/setlang/" method="post">
<select name="language">
{% for lang in LANGUAGES %}
<option value="{{ lang.0 }}">{{ lang.1 }}</option>
{% endfor %}
</select>
<input type="submit" value="{% trans "Go" %}" />
</form>
</div>
{% endblock footer %}
