{% load i18n %}
<div id="cheatsheet">
    <h3>{% trans "Markdown Syntax" %}</h3>
    <h3>{% trans "Phrase Emphasis" %}</h3>
    <pre>
  <code>{% blocktrans %}*italic*  **bold** 
  _italic_  __bold__{% endblocktrans %}</code>
    </pre>
    <h3>{% trans "Links" %}</h3>
    <pre>
  <code>{% trans "An [example](http://url.com/)" %}</code>
    </pre>
    <h3>{% trans "Images" %}</h3>
    <pre>
  <code>{% trans "![alt text](/path/img.jpg)" %}</code>
    </pre>
    <h3>{% trans "Headers" %}</h3>
    <pre>
  <code>{% blocktrans %}Header 1 
  ======= 
  Header 2 
  ---------{% endblocktrans %}</code>
    </pre>
    <pre>
  <code>{% blocktrans %}# Header 1 # 
  ## Header 2 ## 
  ###### Header 6{% endblocktrans %}</code>
    </pre>
    <h3>{% trans "Lists" %}</h3>
    <pre>
  <code>{% blocktrans %}1. Foo 
  2. Bar{% endblocktrans %}</code>
    </pre>
    <pre>
  <code>{% blocktrans %}* Item 1 
  * Item 2{% endblocktrans %}</code>
    </pre>
    <h3>{% trans "Horizontal Ruler" %}</h3>
    <pre>
  <code>---</code>
    </pre>
    <h3>{% trans "Manual Line Breaks" %}</h3>
    {% blocktrans %}End a line with two or more spaces:
<pre>
  <code>Roses are red    
  Violets are blue.</code>{% endblocktrans %}
</pre>
</div>
