
<div id="cheatsheet">
    <h3>Phrase Emphasis</h3>
    <pre>
        <code>*italic*  **bold** _italic_  __bold__</code>
    </pre>
    <h3>Links</h3>
    <pre>
        <code>An [example](http://url.com/)</code>
    </pre>
    <h3>Images</h3>
    <pre>
        <code>![alt text](/path/img.jpg)</code>
    </pre>
    <h3>Headers</h3>
    <pre>
        <code>Header 1 ======= Header 2 ---------</code>
    </pre>
    <pre>
        <code># Header 1 # ## Header 2 ## ###### Header 6</code>
    </pre>
    <h3>Lists</h3>
    <pre>
        <code>1. Foo 2. Bar *</code>
    </pre>
    <pre>
        <code>* Item 1 * Item 2</code>
    </pre>
    <h3>Horizontal Ruler</h3>
    <pre>
        <code>---</code>
    </pre>
    <h3>Manual Line Breaks</h3>
    End a line with two or more spaces:
    <pre>
        <code>Roses are red    Violets are blue.</code>
    </pre>
</div>
