{% extends "dsf/base.html" %}
{% load comments %}
{% block content %}
<table id="threads">
    <tr>
        <td>Tags</td>
        <td>Title</td>
        <td>Posts</td>
        <td>Info</td>
    </tr>

    {% for thread in object_list reversed %}
        <tr>
            <td>{{ thread.category }}</td>
            <td><a href="{% url thread thread.id %}">{{ thread.title }}</a></td>
            {% get_comment_count for dsf.thread thread.id as comment_count %}
            {% get_comment_list for dsf.thread thread.id as comment_list %}
           <td>{{ comment_count }}</td>
            <td>{{ thread.pub_date|timesince|upper }} ago
                <br/> by {{ thread.author }}</td>
            {% if comment_list %}
                <td>{{ comment_list|last|escape|striptags|truncatewords:9 }}</td>
            {% else %}
                <td>No posts</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

<div class="pagination">
    {% if previous %}
        <a href="?page={{ previous }}">previous</a>
    {% endif %}
    {% for num in page_range %}
        {% ifequal page num %}
            {{ num }}
        {% else %}
            <a href="?page={{num}}">{{num}}</a>
        {% endifequal %}
        | 
    {% endfor %}
    {% ifnotequal page page_range|last %}
        <a href="?page={{ next }}">next</a>
    {% endifnotequal %}
</div>

{% endblock content %}
