{% block content %}

<div id="thread_head">
    <a href="/forum">Forum</a> - <i>{{ thread.category }}</i> - <b>{{ thread.title  }}</b>
</div>
{% for post in posts.object_list %}
<div id="post_{{post.id}}" class="{% cycle 'odd', 'even'%}">
    <i>by {{ post.author }} on {{ post.pub_date }} </i>
    <p>
    {{ post.body }}
    </p>
    <hr />
</div>
{% endfor %}

<div class="pagination">
    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %} 
    {% for page in posts.paginator.page_range %}
        {% ifequal posts.number page %}
            {{ page }} 
        {% else %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% endifequal %}
    {% endfor %}
    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next</a>
    {% endif %}
</div>

<div class="new_reply">
    <form action="." method="POST">
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock content %}
