{% extends "dsf/base.html" %}
{% load thread_filters thread_tags %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="/media/css/thread_list.css" />
{% endblock head %}

{% block content %}
<div style="clear:both">
<div style="clear: both">
<ul class="thread_list">
    <li class="row">
        <dl class="header">
            <dt title="Post">
                Title
            </dt>
            <dd class="posts">
                Posts
            </dd>
            <dd class="date">
                Info
            </dd>
            <dd class="chord">
                Last post
            </dd>
        </dl>
    </li>
    {% for thread in threads.object_list %}
        <li class="{% user_has_read user thread %} {% cycle 'odd' 'even' %} row">
            <dl>
                <dt>
                    {{ thread.category }}
                    <a href="{% url thread thread.id %}?page=last#post_{{ thread|last_post_id }}">{{ thread.title }}</a>
                </dt>
                <dd class="posts">{{ thread|post_count }}</dd>
                {% get_thread_post thread.id as tp  %}
                <dd class="date"> {{ tp.pub_date|date:"D d M Y" }} <br />
                    by {{ tp.author }}</dd>
                <dd class="chord">{{ thread|redchord|escape|striptags }}</dd>
            </li>
        </dl>
    {% endfor %}
    </ul>
</div>
    <div class="pagination">
        {% if threads.has_previous %}
            <a href="?page={{ threads.previous_page_number }}">Previous</a>
        {% endif %} 
        {% for page in threads.paginator.page_range %}
            {% ifequal threads.number page %}
                {{ page }} 
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endifequal %}
        {% endfor %}
        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock content %}
