{% extends "dsf/base.html" %}
{% load i18n %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/css/thread_new.css" />
    <link rel="stylesheet" href="/media/css/markdown_help.css" />
{% endblock head %}

{% block breadcrumbs %}
    <ul id="crumbs">
        <li><a href="/forum/">{% trans "Index" %}</a></li>
        <li>{% trans "New thread" %}</li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
<div id="container">
    <form action="." method="POST">
        <div class="form-row">
            {{ form.title.errors }}
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-row">
            {{ form.body.errors }}
            {{ form.body.label_tag }}
            {{ form.body }}
        </div>
        <div class="form-row">
            {{ form.category.errors }}
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="form-row">
            {{ form.markdown.errors }}
            {{ form.markdown.label_tag }}
            {{ form.markdown }}
        </div>
        <div class=submit-row">
            <input type="submit" value="{% trans "Submit" %}" />
        </div>
    </form>
    {% include "dsf/markdown_cs.html" %}
</div>
{% endblock content %}
