{% extends "dsf/base.html" %}
{% load thread_tags thread_filters i18n %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="/media/css/thread_details.css" />
<link rel="stylesheet" href="/media/css/paginator.css" />
<link rel="stylesheet" href="/media/css/markdown_help.css" />
<script type="text/javascript" src="/media/js/thread_details.js"></script>
{% endblock head %}

{% block breadcrumbs %}
    <ul id="crumbs">
        <li><a href="{% url threads %}">{% trans "Index" %}</a></li>
        <li><a href="{% url category_threads thread.category.slug %}">{{ thread.category }}</a></li>
        <li>{{ thread.title }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
<div id="thread_head">
    <h1>{{ thread.title  }} <div style="float:right">{% trans "page" %} {{ posts.number }} {% trans "of" %} {{ posts.paginator.num_pages }}</div></h1>
</div>
{% for post in posts.object_list %}
<div id="post_{{post.id}}" class="rounded_style {% cycle odd,even%}">
    <div class="info">
        <ul>
            <li>{{ post.author|escape }}</li>
            <li> {% gravatar user %} </li>
            <li>{{ post.pub_date|date:"D d M Y H:i" }}</li>
            {% if user.is_superuser %}
                <li id="edit_{{post.pk}}">{% trans "edit" %}</li>
                <li id="hide_{{post.pk}}">{% trans "hide" %}</li>
            {% else %}
                {% ifequal user post.author %}
                    <li id="edit_{{post.pk}}">{% trans "edit" %}</li>
                    <li id="hide_{{post.pk}}">{% trans "hide" %}</li>
                {% endifequal %}
            {% endif %}
        </ul>
    </div>
    <div id="post_{{post.id}}_body">
        <p>
        {% if post.markdown %}
            {{ post.body|markdown|safe }}
        {% else %}
            {{ post.body|linebreaksbr }}
        {% endif %}
        </p>
        {% ifnotequal post.pub_date|date:"D d M Y H:i"  post.update|date:"D d M Y H:i"  %}
        <p>
        Last updated {{ post.update|date:"D d M Y H:i" }}
        </p>
        {% endifnotequal %}

    </div>
</div>
{% endfor %}

<div class="pagination">
    <ul id="pagination-flickr">
    {% if posts.has_previous %}
        <li class="previous"><a href="?page={{ posts.previous_page_number }}">{% trans "Previous" %}</a></li>
    {% endif %} 
    {% for page in posts.paginator.page_range %}
        {% ifequal posts.number page %}
            <li class="active">{{ page }}<li>
        {% else %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>
        {% endifequal %}
    {% endfor %}
    {% if posts.has_next %}
        <li class="next"><a href="?page={{ posts.next_page_number }}">{% trans "Next" %}</a></li>
    {% endif %}
    </ul>
</div>

<div class="new_reply rounded_style">
    {% include "dsf/markdown_cs.html" %}
    <form action="." method="POST">
        <div class="form-row">
            {{ form.body.errors }}
            {{ form.body.label_tag }}
            {{ form.body }}
        </div>
        <div class="form-row">
            {{ form.markdown.errors }}
            {{ form.markdown.label_tag }}
            {{ form.markdown }}
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans "Submit" %}" />
        </div>
    </form>
</div>

{% endblock content %}
