{% extends "dsf/base.html" %}
{% load thread_filters thread_tags i18n %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="/media/css/thread_list.css" />
<link rel="stylesheet" href="/media/css/paginator.css" />
{% endblock head %}

{% if category %}
    {% block breadcrumbs %}
        <ul id="crumbs">
            <li><a href="/forum/">{% trans "Index" %}</a></li>
            <li><a href="{% url category_threads category %}">{{ threads.object_list.0.category }}</a></li>
            <li>{% trans "Overview" %}</li>
        </ul>
    {% endblock breadcrumbs %}
{% endif %}
{% block content %}
<div style="clear:both">
<div style="clear: both">
<ul class="thread_list">
    <li class="row">
        <dl class="header">
            <dt title="Post">
                {% trans "Title" %}
            </dt>
            <dd class="posts">
                {% trans "Posts" %}
            </dd>
            <dd class="date">
                {% trans "Info" %}
            </dd>
            <dd class="chord">
                {% trans "Last post" %}
            </dd>
        </dl>
    </li>
    {% for thread in threads.object_list %}
        <li class="{% user_has_read user thread %} {% cycle 'odd' 'even' %} row">
            <dl>
                <dt>
                    <span style="padding-right: 5px;">
                        <a href="{% url category_threads thread.category.name|slugify %}" style="background-color: {{thread.category.color}}" class="btn">{{thread.category}}</a>
                    </span>
                    <span style="line-height: 27px;">
                        <a href="{% url thread thread.id %}?page=last#post_{{ thread|last_post_id }}">{{ thread.title }}</a>
                    </span>
                </dt>
                <dd class="posts">{{ thread|post_count }}</dd>
                {% get_thread_post thread.id as tp  %}
                <dd class="date"> {{ tp.pub_date|date:"D d M Y" }} <br />
                    by {{ tp.author }}</dd>
                <dd class="chord">{{ thread|redchord|striptags }}</dd>
            </li>
        </dl>
    {% endfor %}
    </ul>
</div>
<div class="pagination">
    <ul id="pagination-flickr">
        {% if threads.has_previous %}
            <li class="previous"><a href="?page={{ threads.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %} 
        {% for page in threads.paginator.page_range %}
            {% ifequal threads.number page %}
                <li class="active">{{ page }} </li>
            {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if threads.has_next %}
            <li class="next"><a href="?page={{ threads.next_page_number }}">{% trans "Next" %}</a></li>
        {% endif %}
        </ul>
    </div>
    <div id="categories">
            {% for c in categories reversed %}
                <span style="padding-left: 3px; float:right;">
                    <a href="{% url category_threads c.name|slugify %}" style="background-color: {{c.color}}" class="btn">{{c}}</a>
                </span>
            {% endfor %}
    </div>
</div>
{% endblock content %}
